body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.header {
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.restart{
    margin-left: 10px;
    margin-bottom: 5px;
}

.title {
    margin-top: 60px;
    font-size: 30px;
    font-weight: 600px;
    font-family: Cambria, Cochin, Georgia;
}

.comment {
    margin-top: 20px;
}

.game {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

tr td {
    border: 1px solid black;
    height: 130px;
    width: 130px;
}

td {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    cursor: pointer;
}

td:hover {
    background-color: seashell;
}