body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
}

.header {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: flex-end;
}

.restart{
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 8px 28px; 
    font-size: 16px; 
    background-color: #007BFF;
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s;
}

.restart:hover {
    background-color: #0056b3;
}

.title {
    margin-top: 20px; 
    font-size: 36px; 
    font-weight: 700; 
    color: #333; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.comment {
    margin-top: 20px;
    font-size: 18px;
    color: #555; 
}

.game {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

tr td {
    border: 2px solid #ccc;
    height: 130px;
    width: 130px;
}

td {
    text-align: center;
    font-size: 80px;
    font-weight: 300;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

td:hover {
    background-color: #ffe5e5; 
}